/*stylesheet for panasonic-teslastyle-page*/
body{
	margin:0px;

}
.header{
	background:black;
	height:70px;
	
	width :100%;
	margin:0 auto;
}



.header-logo{
	float:left;
	margin-left:30px;
}